html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "cabincondensed-semibold";
  src: url("../fonts/cabincondensed-semibold/cabincondensed-semibold.woff2") format("woff2"), url("../fonts/cabincondensed-semibold/cabincondensed-semibold.woff") format("woff");
}

@font-face {
  font-family: "millerdisplay-italic";
  src: url("../fonts/millerdisplay-italic/millerdisplay-italic.woff2") format("woff2"), url("../fonts/millerdisplay-italic/millerdisplay-italic.woff") format("woff");
}

@font-face {
  font-family: "millerdisplay-regular";
  src: url("../fonts/millerdisplay-regular/millerdisplay-regular.woff2") format("woff2"), url("../fonts/millerdisplay-regular/millerdisplay-regular.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff");
}

p {
  margin: 0;
}

i {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  margin: 0 auto;
  max-width: 767px;
}

body {
  background-color: #ffffff;
  width: 100%;
}

main {
  box-shadow: 0px 1px 1px 1px #d8d8d8;
  padding: 10px;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

div {
  display: block;
}

img {
  width: 100%;
}

header {
  background-color: #fed232;
  height: 48px;
}

.header-logo {
  display: block;
  margin: 0 auto;
  padding: 13px 0;
}

.footer {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #262626;
  padding: 10px;
}

.footer-logo-container {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  margin: 10px 0;
  padding: 15px 0;
}

.copyright {
  color: #ffffff;
  font-size: 11px;
}

.copyright span {
  line-height: 19px;
}

.footer-logo-postmedia {
  margin: 0 5px -3px 0;
}

.privacy-links a {
  text-decoration: none;
}

.privacy-links a:not(:last-child):after {
  content: '|';
  padding: 0 5px;
}

article {
  margin: 0 0 30px;
}

article a {
  color: #005E9C;
}

article .featured-image {
  margin: 10px 0 20px;
}

.article-category {
  color: #005E9C;
  font-family: "cabincondensed-semibold", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.article-title {
  font-family: "cabincondensed-semibold", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 32px;
  margin: 8px 0;
}

.published-by, .published-date {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
}

.published-date {
  color: #888888;
}

.article-content {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 26px;
}

.article-content p {
  margin: 0 0 10px;
}

.article-delimiter {
  background-color: #000000;
  content: '';
  display: block;
  height: 1px;
  margin: 30px 0 15px;
  width: 30%;
}

.amp-ad-container {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding: 0 10px 10px;
  position: relative;
  text-align: center;
}

.delimiter {
  border-bottom: 1px solid #d8d8d8;
  display: inline-block;
  content: '';
  background-color: #d8d8d8;
  width: 100%;
  position: absolute;
  left: 0;
  top: 15px;
  z-index: -1;
}

.ad-label {
  background-color: #ffffff;
  font-family: "roboto-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888888;
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  padding: 10px;
}

.article-page-list-item {
  border-bottom: 2px dotted #d8d8d8;
  padding: 12px 0;
  min-height: 130px;
}

.article-page-list-item .article-meta {
  padding: 0 10px 0 0;
  width: calc(100% - 100px);
  float: left;
}

.article-page-list-item amp-img {
  float: right;
}

.article-page-list-item .article-category {
  color: #000000;
}

.article-page-list-item .article-title {
  font-size: 18px;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body, img, a, section, article, div, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  word-break: break-word;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.Center-Container.is-Inline {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.Center-Container.is-Inline:after,
.is-Inline .Center-Block {
  display: inline-block;
  vertical-align: middle;
}

.Center-Container.is-Inline:after {
  content: '';
  height: 100%;
  margin-left: -.25em;
}

.is-Inline .Center-Block {
  max-width: 99%;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 172px;
}

.article-category--index {
  color: #000000;
}

.published-by--index {
  margin-bottom: 3px;
}

.published-date {
  display: flex;
  align-items: center;
}

.published-dot {
  font-size: 22px;
  padding-right: 3px;
  padding-left: 3px;
}

.article-page-lists {
  border-top: 1px solid #d8d8d8;
  padding-top: 18px;
}

.article-page-lists:first-child {
  border-top: none;
  padding-top: 0;
}

.article-page-list-item {
  border-bottom: none;
  padding: 0;
}

.article-page-list-item > * {
  border-bottom: none;
  border-top: 2px dotted #d8d8d8;
  clear: both;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

.article-page-list-item > * > *,
.article-page-list-item > * .article-meta,
.article-page-list-item > * amp-img {
  float: none;
}

.article-page-list-item > * .article-title--index {
  margin-top: 6px;
  margin-bottom: 6px;
  max-height: initial;
  overflow: initial;
}

.article-page-list-item:first-child > *,
.article-page-lists-2col-list .article-page-list-item > * {
  flex-direction: column-reverse;
}

.article-page-list-item:first-child > * > *,
.article-page-list-item:first-child > * .article-meta,
.article-page-list-item:first-child > * .article-image,
.article-page-lists-2col-list .article-page-list-item > * > *,
.article-page-lists-2col-list .article-page-list-item > * .article-meta,
.article-page-lists-2col-list .article-page-list-item > * .article-image {
  width: 100%;
  padding-right: 0;
}

.article-page-list-item:first-child > * .article-meta,
.article-page-lists-2col-list .article-page-list-item > * .article-meta {
  padding-top: 12px;
}

.article-page-list-item:first-child > * .article-image,
.article-page-lists-2col-list .article-page-list-item > * .article-image {
  width: 100%;
}

.article-page-list-item:first-child > * {
  border-top: none;
  flex-basis: 100%;
  padding-top: 0;
}

.article-page-list-item:first-child > * .article-title--index {
  font-size: 28px;
  line-height: 32px;
}

.article-page-list-item.widget {
  border-top: none;
}

.article-page-list-item.widget > *,
.article-page-list-item.widget-bottom-border > *,
.article-page-list-item.widget-border-top-dotted > * {
  border-bottom: none;
}

.article-page-list-item.widget > * {
  border-top: none;
  padding-top: 0;
}

.article-page-list-item.widget-bottom-border > * {
  border-top: none;
  padding-top: 0;
}

.article-page-list-item.widget-bottom-border + .article-page-list-item > * {
  border-top: 1px solid #d8d8d8;
  padding-top: 24px;
}

.article-page-list-item.widget-border-top-dotted > * {
  border-top: 2px dotted #d8d8d8;
}

.article-page-list-item.widget .sign-up {
  padding-top: 12px;
}

.amp-ad-container--index {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "cabincondensed-semibold", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.article-page-lists-1col .section-title {
  color: #005E9C;
  margin-bottom: 6px;
}

.article-page-lists-2col-list {
  display: flex;
  flex-wrap: wrap;
}

.article-page-lists-2col-list .article-page-list-item {
  border-bottom: none;
  flex-basis: 50%;
  flex-direction: column-reverse;
}

.article-page-lists-2col-list .article-page-list-item:nth-of-type(even) {
  padding-right: 12px;
}

.article-page-lists-2col-list .article-page-list-item:nth-of-type(odd) {
  padding-left: 12px;
}

.article-page-lists-2col-list .article-page-list-item:first-child {
  flex-basis: 100%;
  padding-right: 0;
  padding-left: 0;
}

.article-page-lists-2col-list .article-page-list-item:first-child .article-page-lists-2col-play {
  width: 60px;
}

.article-page-lists-2col-list .article-page-list-item:first-child .published-date {
  flex-direction: row;
}

.article-page-lists-2col-list .article-page-list-item:first-child .published-dot {
  display: flex;
}

.article-page-lists-2col-list .article-page-list-item:nth-last-child(1) .article-meta,
.article-page-lists-2col-list .article-page-list-item:nth-last-child(2) .article-meta {
  border-bottom: none;
}

.article-page-lists-2col-list .article-page-list-item > * {
  border-top: none;
  padding-bottom: 0;
}

.article-page-lists-2col-list .article-meta {
  border-bottom: 2px dotted #d8d8d8;
  padding-bottom: 12px;
}

.article-page-lists-2col-list .published-date {
  align-items: flex-start;
  flex-direction: column;
}

.article-page-lists-2col-list .published-dot {
  display: none;
}

.article-page-lists-2col-thumbnail {
  position: relative;
}

.article-page-lists-2col-thumbnail .article-page-lists-2col-play {
  width: 30px;
}

.widget {
  border-top: 1px solid #d8d8d8;
}

.sponsored .sponsored-h3 {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 100;
  line-height: 32px;
  margin-bottom: 0;
}

.sponsored .sponsored-h3-more {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-transform: initial;
}

.sponsored .sponsored-h3-more-arrow {
  font-size: 22px;
  line-height: 28px;
  padding-left: 3px;
}

.sponsored .article-page-list-item > * {
  background-color: #d8d8d8;
}

.sponsored .article-page-list-item > * .article-meta {
  padding-top: 0;
  padding-right: 12px;
}

.sponsored .article-page-list-item > * .article-title--index {
  font-size: 18px;
  line-height: 22px;
}

.sponsored .published-date--index {
  color: #404040;
}

.sponsored + .widget {
  margin-top: 18px;
}

.article-page-lists-2col .sponsored-h3-more {
  color: #005E9C;
  font-family: "millerdisplay-italic", "times new roman", times, serif;
  font-size: 15px;
}

.sponsored-1-article {
  border-top: none;
}

.sponsored-1-article .article-page-list-item > * {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  flex-direction: row-reverse;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

.sponsored-lists .article-page-list-item > * {
  border-top-color: #888888;
}

.sponsored-lists .article-meta {
  padding-left: 12px;
}

.sponsored-lists .article-img {
  padding-right: 12px;
}
